**/gen/
**/obj/
*.diff
**/libs/armeabi/
android/QuickAction/bin/
android/ScriptingLayerForAndroid/bin
Session.vim
android/BluetoothFacade/bin/
android/Common/bin/
android/InterpreterForAndroid/bin/
android/ScriptingLayer/bin/
android/SignalStrengthFacade/bin/
android/TextToSpeechFacade/bin/
android/USBHostSerialFacade/bin/
android/Utils/bin/
android/WebCamFacade/bin/
